@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-colors: (
    "primaryRed": #E42929,
    "primaryWhite": #FFFFFF,
    "primaryGrey": #959595,
    "primaryRedBlack": #554545,
    "primaryBlack": #000000 
);

$theme-colors: map-merge($theme-colors, $custom-colors);

.row {
    height: 12.5%;
}

.white {
    background-color: #FFFFFF;
}

.black {
    background-color: #000000;
}

@import "../node_modules/bootstrap/scss/bootstrap";

:root {
    --bs-body-font-family:
        'Open Sans',
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        "Liberation Sans",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}
